DATABASE CONNECTIVITY

In [ ]:
from tabulate import tabulate
import mysql.connector

con=mysql.connector.connect(host="localhost",user="root",password="2407",database="python_db")

def insert(name,age,city):
    res=con.cursor()
    sql="insert into student (name,age,city) values (%s,%s,%s)"
    student=(name,age,city)
    res.execute(sql,student)
    con.commit()
    print("Data Insert Success...")
    
    
def update(name,age,city,id):
    res=con.cursor()
    sql="update student set name=%s,age=%s,city=%s where id=%s"
    student=(name,age,city,id)
    res.execute(sql,student)
    con.commit()
    print("Data Update Success...")
    
    
def select():
    res=con.cursor()
    sql="SELECT ID,NAME,AGE,CITY from student"
    res.execute(sql)
    # resule=res.fetchone()
    # result=res.fetchmany(2)
    result=res.fetchall()
    print(tabulate(result,headers=["ID","NAME","AGE","CITY"]))
    
def delete(id):
    res=con.cursor()
    sql="delete from student where id=%s"
    student=(id,)
    res.execute(sql,student)
    con.commit()
    print("Data Delete Success...")
    
    
while True:
    print("_______________________________")
    print("1.Insert Data")
    print("2.Update Data")
    print("3.Select Data")
    print("4.Delete Data")
    print("5.EXIT")
    choice=int(input("Enter the Choice: "))
    if choice==1:
        name=input("Enter Name: ")
        age=input("Enter Age: ")
        city=input("Enter City: ")
        insert(name,age,city)
    elif choice==2:
        id=input("Enter id: ")
        name=input("Enter Name: ")
        age=input("Enter Age: ")
        city=input("Enter City: ")
        update(name,age,city,id)
    elif choice==3:
        select()
    elif choice==4:
        id=input("Enter the Id to Delete: ")
        delete(id)
    elif choice==5:
        quit()
    else:
        print("Invalid Selection.")
        print("Please try the valid number!")

_______________________________
1.Insert Data
2.Update Data
3.Select Data
4.Delete Data
5.EXIT
Enter the Choice: 3
  ID  NAME          AGE  CITY
----  ----------  -----  -------
   1  Appu           22  vellore
   2  Chinna         21  vellore
   3  Thalapathy     55  Chennai
   4  Charan         23  Vellore
_______________________________
1.Insert Data
2.Update Data
3.Select Data
4.Delete Data
5.EXIT
Enter the Choice: 4
Enter the Id to Delete: 4
Data Delete Success...
_______________________________
1.Insert Data
2.Update Data
3.Select Data
4.Delete Data
5.EXIT
Enter the Choice: 3
  ID  NAME          AGE  CITY
----  ----------  -----  -------
   1  Appu           22  vellore
   2  Chinna         21  vellore
   3  Thalapathy     55  Chennai
_______________________________
1.Insert Data
2.Update Data
3.Select Data
4.Delete Data
5.EXIT
Enter the Choice: 2
Enter id: 3
Enter Name: Charan